<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>

    <h2>log In</h2>
    
    <form action="/login" method="post">

    <input type="text" name="name" placeholder="name">
    <input type="password" name="password" placeholder="password">
    <input class="sub" type="submit">
    
    </form>
    <h3>dont have a account</h3>
    <a href="/signup">make a new account</a>
    
</body>
</html>